name: Nightly Test Corpus
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"
  # push:

jobs:
  build:
    defaults:
      run:
        shell: bash
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.22"

      - name: Download
        run: curl -L -o integration_tests/corpus-tests.tar.gz https://raw.githubusercontent.com/cedar-policy/cedar-integration-tests/main/corpus-tests.tar.gz

      - name: Extract
        run: mkdir -p integration_tests/tmp && tar -xzf integration_tests/corpus-tests.tar.gz -C integration_tests/tmp

      - name: Corpus Tests
        run: go test -count=1 -v -tags corpus ./integration_tests/... | tail

      - name: Notify on Failure
        if: failure() && github.event_name == 'schedule'
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            github.rest.issues.create({
              owner: context.repo.owner,
              repo: context.repo.repo,
              title: 'Nightly Test Corpus Failed',
              body: 'The Nightly Test Corpus workflow failed. Please investigate.',
              assignees: ['jmccarthy', 'philhassey', 'patjakdev'],
              labels: ['bug']
            })
